.container {
    align-content: center;
    width: 80vw;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
}

.login-form {
    padding: 3em;
    align-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5;
}

.input {
    margin-bottom: 1em;
}

.spinner-div {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
}

.spinner {
    margin: auto;
    margin-top: 25%;
}