<div class="container">
    <mat-card class="login-form">
        <form class="form-field" [formGroup]="userFormGroup">
            <h2>Log in</h2>
            <mat-form-field appearance="fill" class="input">
                <mat-label>Enter your trainer name</mat-label>
                <input matInput formControlName="username" required minlength />
                <mat-error *ngIf="username.invalid">
                    {{getError()}}
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="warning" (click)="onLoginClicked()" [disabled]="username.invalid">
                Enter
            </button>
        </form>
    </mat-card>
</div>
<div class="spinner-div" *ngIf="isLoading | async">
    <mat-spinner class="spinner"></mat-spinner>
</div>