.grid {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
} 

.img-sprite {
    display: flex;
    margin: 0 auto;
}

.card {
    width: 200px;
    height: 200px;
    transition: 0.3s;
}

.cards {
    margin-left: auto;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 17px 3px rgba(0,0,0,0.36);
}