<header>
  <h3>Pokemon</h3>
  <div class="image" [routerLink]="['/login']">
    <img
      src="https://cdn0.iconfinder.com/data/icons/social-productivity-line-art-6/128/pokemon-pokeball-512.png"
      alt="pokeball"
    />
  </div>
  <h3>Catalogue</h3>
  <div class="buttons">
    <button mat-raised-button [routerLink]="'/pokemon/catalogue'" class="button">
      Catalogue
    </button>
    <button mat-raised-button  [routerLink]="'/pokemon/trainer'" class="button">
      Trainer
    </button>
    <button mat-raised-button  (click)="onLogoutClicked()" class="button">
      Logout
    </button>
  </div>
</header>
