#pokemon-detail-container {
  margin: auto;
  width: 40%;
  padding-bottom: 2%;
}

.pokemon-card {
  margin: auto;
  display: flex;
  flex-direction: column;
}

#pokemon-card-header {
  display: flex;
  justify-content: center;
}
#pokemon-title {
  font-size: 2.5em !important;
  text-align: center;
}
.pokemon-image {
  margin: auto;
  background-size: cover;
  width: 40%;
  height: 40%;
}

#card-content {
  margin-left: 7%;
  margin-right: 7%;
}

#pokemon-types {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.type {
  text-align: center;
  font-size: 1.5em;
  margin-right: 10px;
}

.pokemon-base-stats {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

#pokemon-moves {
  margin-top: 5%;
  font-size: 1rem;
  text-align: center;
  flex: 1;
}
#moves-title {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
#stats-title {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

.button-container {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}