<div id="pokemon-detail-container">
    <ng-container *ngIf="pokemon$ | async as pokemon">
        <mat-card class="pokemon-card">
            <mat-card-header id="pokemon-card-header">
                <mat-card-title id="pokemon-title">
                    {{pokemon.name[0].toUpperCase() + pokemon.name.substring(1)}}
                </mat-card-title>
                <mat-card-subtitle>
                    Weight: {{pokemon.weight}} | Height: {{pokemon.height}} | Base XP: {{pokemon.base_experience}}
                </mat-card-subtitle>
            </mat-card-header>
            <img class="pokemon-image" [src]="pokemon.sprites.front_default">
            <mat-card-content id="card-content">
                <div id="pokemon-types">
                    <ng-container *ngFor="let type of pokemon.types">
                        <div class="type">{{type.type.name[0].toUpperCase() + type.type.name.substring(1)}}</div>
                    </ng-container>
                </div>

                <div>
                    <div id="stats-title">Base Stats</div>
                    <ng-container id="pokemon-stats" *ngFor="let stats of pokemon.stats">
                        <div class="pokemon-base-stats">
                            <span class="stat-title">{{stats.stat.name[0].toUpperCase() +
                                stats.stat.name.substring(1)}}:
                            </span>
                            <span class="stat-value">{{stats.base_stat}}</span>
                        </div>
                    </ng-container>
                </div>

                <div id="pokemon-moves">
                    <div id="moves-title">Moves</div>
                    <ng-container *ngFor="let move of pokemon.moves | slice:0:10 ">
                        <span> | {{move.move.name[0].toUpperCase() + move.move.name.substring(1)}}</span>
                    </ng-container>
                    |
                </div>
                <div class="button-container">
                    <ng-container *ngIf="pokemonExists">
                        <button mat-raised-button (click)="removePokemonFromCollection(pokemon.id)"
                            class="button">Remove from Collection</button>
                    </ng-container>
                    <ng-container *ngIf="!pokemonExists">
                        <button mat-raised-button (click)="addPokemonToCollection(pokemon.id)" class="button">Add to
                            Collection</button>
                    </ng-container>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>