<ng-container *ngIf="Trainer$ | async as trainer">
    <h1>Welcome {{trainer.trainerName}}</h1>
</ng-container>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="header">#</th>
            <th class="header">Image</th>
            <th class="header">Name</th>
            <th class="header">Pokemon No.</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of Pokemons$ | async; index as i" (click)="onPokemonClick(pokemon.name)">
            <th>{{i+1}}</th>
            <td class="td-image"><img [src]="pokemon.sprites.front_default" /></td>
            <td class="td-name">{{pokemon.name}}</td>
            <td class="td-pokemon-number">{{pokemon.id}}</td>
        </tr>
    </tbody>
</table>